@import 'scss/reset';
@import 'scss/variables';
@import 'scss/mixins';

//body {
//    padding: .75em;
//
//    @include r($md) {
//        padding: 2em;
//    }
//}

line { stroke: #ccc; stroke-width: 1; }
#checkerboard { fill: #ccc; }

#non-fatal-container {
    max-width: 100%;
    padding: $gbl-padding;
    margin: 0;

    @include r($lg) {
        max-width: 1000px;
        margin: auto;
    }

    .merriweather {
        // font-family: Merriweather,serif;
    }

    h3 {
        font-size: 1.25rem;
    }

    select {
        font-size: medium;
        padding: 0.25em;
    }

    section {
        padding: 1em 0;

        &:after {
            content: ' ';
            display: inline-block;
            width: 80%;
            height: 3px;
            background-color: #555;
            margin-left: 10%;
            top: -0.25em;
        }

        &:last-child:after {
            display: none;
        }

        &.sub-drawer:before,
        &.comparison-section:before {
            content: ' ';
            display: inline-block;
            width: 80%;
            height: 3px;
            background-color: #555;
            margin: $gbl-padding*3 10%;
            top: -0.25em;
        }

        &.sub-drawer:after {
            display: none;
        }

    }

    @include r ($lg){
    .map-container {
        width: 75%;
    }
    }


    .cdc-map-inner-container {

        > svg {
            position: absolute;
            top: 0;
        }

        .single-geo {
            stroke: #fff !important;
            stroke-width: 3px;
            position: relative;

            .selected {
                text {
                    font-weight: 600;
                }


                path {
                    stroke-width: 3px;
                }
            }
        }
    }

    .btn {
        background: $blue;
        color: #fff;
        border: 0;
        padding: .4em .8em;
        font-size: 1em;
        display: inline-block;
        border-radius: .3em;
        transition: .1s background-color;
        cursor: pointer;
        &.full-width {
          width: 100%;
        }
        &:hover {
          transition: .1s background-color;
        }
    }

    .btn-download {
        color: #fff;
        text-decoration: none;
        transition: .3s all;
        margin: 1em 0;
        &:hover {
            transition: .3s all;
        }
    }

    .now-viewing > div {
        padding-top: 10px;
        min-height: 50px;
    }

    #selected_state_clone {
        pointer-events: none;
        //filter: drop-shadow(1px 1px 20px rgba(255, 255, 255, 0.8));
    }

    g.geo-group:not(#selected_state) {
        transition: .3s all;
        position: relative;
        z-index: 1;

        &:hover {
            z-index: 2;
        }

        path {
            transition: .3s all;
            //stroke-width: 1;

            &:hover {
                stroke: #333;
                stroke-width: 2;
                z-index: 2;
            }
        }
        text {
            pointer-events: none;
        }
    }

    .drug-selection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $gbl-padding;
        align-items: center;
        text-align: center;
        padding-bottom: $gbl-padding;

        @include r($md) {
            grid-template-columns: repeat( 4, 1fr);
            gap: $gbl-padding;
        }

        > button {
            // height: 60px;
            padding: 20px 0;
            background: none;
            border-radius: 30px;
            box-shadow: 0 2px 5px #d3d3d3;
            vertical-align:middle;
            cursor: pointer;

            &.active {
                color: #fff;
            }

            &:hover:not(.active) {
                background-color: #dedede;
            }
        }

        &.all {
            // background-color: ;
        }
    }

    .filters {
        display: flex;

        > div {
            margin-right: 20px;
        }
    }

    /* Tooltip Styles - overrides some default ones provided by <ReactTooltip /> */
    .tooltip {
        opacity: 1 !important;
        border: rgba(0,0,0,.3) 1px solid;
        box-shadow: rgba(0,0,0,.1) 3px 3px 7px;
        opacity: 1;
        line-height: 1;
        font-size: 1em;
        border-radius: 4px;
        padding: 15px;

        .state-name-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;

            svg {
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
        }

        .significance-row {
            margin-bottom: 10px;
        }

        .percentage-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .callouts {
        display: grid;
        gap: 1em;
        margin-bottom: 1em;

        @include r($lg){
            grid-template-columns: repeat(3, 1fr);
        }

        > div {
            border: 1px solid rgba(0,0,0,.125);
            border-left: 5px solid #B890BB;
            border-radius: .25rem;
            min-height: 126px;
            padding: .5em;
            display: flex;
            align-items: center;

            svg {
                flex-shrink: 0;
            }
            span.callout {
                font-size: 2em;
                font-weight: 500;
                color: #712177;
                padding: 0 .5em;
                font-family: "Merriweather", serif;
            }
            p {
                font-size: .85em;
            }

            .data-bite-title {
                font-family: Merriweather,serif;
                line-height: 1.1;
                font-weight: bold;
                text-align: left;
                font-size: 1em;
                margin: 0 0 0.1em 0;
            }
        }
    }

    .time-select {
        margin-bottom: 1em;
        > ul {
            font-size: 1.1em;
            padding: 0 0 .5em 0;
            max-height: 175px;
            overflow-y: scroll;
        }

        li {
            font-size: .8em;
            padding: .6em .5em;
            line-height: 1em;
            border-radius: .3rem;
            + li {
                margin-top: .2em;
            }
            &.active {
                background-color: $off-white;
                color: $purple;
            }
            &:not(.year) {
                &:hover {
                    color: $purple;
                }
            }
            font-weight: 500;
            cursor: pointer;
            margin: 0;
        }
    }

    [data-icon="play"] {
        cursor: pointer;
    }

    #closeShare {
        background-color: $dark-blue;
        color: $white;
        width: 50px;
        height: 100px;
        position: fixed;
        right: 1.5%;
        bottom: -150px;
        text-align: center;
        padding: .75em;
        border: 1px solid rgba($white,0.75);
        border-radius: 5px;
        font-size: .8em;
        cursor: pointer;
        opacity: 1;
        transition: opacity .2s ease-in-out;
        transition: bottom .4s ease-in-out;
    }

    .toggle-area {
        position: fixed;
        display: grid;
        width: 97%;
        grid-template-columns: 1fr 1fr 80px;
        bottom: 5px;
        gap: 5px;
        left: 1.5%;
        z-index: 12;


        @include r($lg) {
            display: none;
        }

        svg {
            position: relative;
            left: 7px;
            top: 3px;
            width: 16px;
            height: 16px;
            display: inline-block;
            transition: all .2s ease-in-out;
        }

        .open svg {
            transform: rotate(-180deg);
        }

        #toggleLegend,
        #toggleTimeline,
        #toggleShare {
            background-color: $dark-blue;
            color: $white;
            text-align: center;
            padding: .75em;
            border: 1px solid rgba($white,0.75);
            border-radius: 5px;
            font-size: .8em;
            cursor: pointer;
            opacity: 1;
            transition: opacity .2s ease-in-out;
        }

        #toggleLegend,
        #toggleTimeline,
        #toggleShare {
            width: 100%;
            margin: auto;

            &:hover,
            &:focus,
            &:active {
                opacity: .8;
            }
        }
    }

    //.sticky-container {
    //    display: grid;
    //    grid-template-columns: 1fr 300px;
    //}
    
    aside {
        position: fixed;
        width: 97%;
        //bottom: -1000px;
        left: 1.5%;
        display: grid;
        gap: 1em;
        //align-content: center;
        //text-align: center;
        box-shadow: 0 0 15px rgba($black,0.15);
        backdrop-filter: blur(7px);
        background-color: rgba($white, .75);
        z-index: 11;
        transition: bottom .4s ease-in-out;

        @include r($lg) {
            //padding: 2.5% 2.5% 50px;
            background: inherit;
            //border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: .25em;
            box-shadow: unset;
            backdrop-filter: unset;
        }

        .legend,
        .timeline,
        .share {
            display: none;
            padding-bottom: 60px;

            @include r($lg) {
                display: block;
                margin: inherit;
                padding-bottom: $gbl-padding;
            }

            > * {
                margin: 0 $gbl-padding;

                @include r($lg) {
                    margin: inherit;
                }
            }

            .legend-title {
                margin: inherit;
            }
        }

        &.show-legend,
        &.show-timeline,
        &.show-share {
            bottom: 0;
        }

        &.show-legend .legend {  display: block; }
        &.show-timeline .timeline {  display: block; }
        &.show-share .share {  display: block; }

        @include r($lg) {
            display: block;
            position: -webkit-sticky;
            position: sticky;
            top: 10px;
            width: 245px;
            float: right;
            grid-template-columns: unset;
        }

        .time-frame-container {
            display: flex;
            //justify-content: center;
            margin-top: $gbl-padding;
            font-size: .8em;

            > * {
                margin-right: 10px;
            }

            .radio {
                display: inline-block;

                input {
                    margin-left: 14px;
                    margin-right: 5px;
                    position: relative;
                    top: 2px;
                }
            }
        }

        .range-aside-container {
            min-height: 100px;
            width: 90%;
            margin: 0 auto;
            padding-top: 35px;
            display: flex;

            .animation-controls {
                width: 20px;
                margin-right: 40px;

                > svg {
                    color: currentColor;

                    path {
                        fill: currentColor;
                    }
                }
            }

            .rc-slider {

                .rc-slider-tooltip-inner {
                    padding: 6px 7px;
                    white-space: nowrap;
                }

                .rc-slider-track {
                    background-color: rgba(215, 215, 215, 1);
                }

                .rc-slider-rail {
                    background-color: rgba(215, 215, 215, 1);
                }

                .rc-slider-mark {

                    .rc-slider-mark-text {
                        max-width: 50px;
                        color: $black;
                    }
                }

                .rc-slider-handle {
                    width: 17px;
                    height: 17px;
                    margin-top: -6px;
                }

            }
        }

        .legend-title {
            background-color: #606060;
            color: $white;
            font-size: 1em;
            padding: .3em .5em;
        }

        .legend-help {
            position: relative;
            top: -3px;
            left: 3px;
            border-radius: 20px;
            font-size: 10px;
            font-weight: 600;
            border: 1px solid rgba(255,255,255,1);
            width: 16px;
            height: 16px;
            line-height: 13px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            opacity: .65;
            transition: opacity .2s;

            &:hover {
                opacity: 1;
            }
        }

        .legend-help-message {
            background: $gray-lightest;
            border: 1px solid $gray-light;
            border-top: none;
            color: $black;
            width: 100%;
            height: 0;
            padding: 0 10px;
            bottom: -40px;
            left: 0;
            overflow: hidden;
            transition: all .2s ease-in-out;

            &.show {
                height: 135px;
                padding: 10px;
            }

            p {
                font-size: 10px;
                font-style: normal;
                margin-bottom: 10px;
            }
        }
        ul.legend {
            margin: $gbl-padding 0;
            li {
                display: flex;
                align-items: center;
                font-size: .8em;
                font-weight: 600;
                margin-bottom: .25em;
                + li {
                    margin-top: .5em;
                }
                svg {
                    width: 100%;
                    max-width: 1.4em;
                    margin-right: .5em;
                }
            }
        }
        p {
            font-size: .8em;
            font-style: italic;
        }
    }

    .sub-drawer {
        margin-top: 2.5em;
        border-radius: .25rem;
        position: relative;

        @include r($lg) {
            width: calc( 100% - 300px );
        }

        .bar-chart {
            margin-top: 40px;
        }

    }

    .bar-chart-container {

        .bar-chart {
            min-height: 250px;
            text-align: center;

            .bar-chart-xaxis-label {
                font-size: 1.5em;
            }

            > svg {
                width: 100% !important;
                position: relative;
                margin: auto;
                left: -3vw;
            }
        }

        .chart-title {
            font-weight: bold;
            display: block;
            background: #ccc;
            padding: 10px;
        }

        .text-section {
            width: 40%;
        }

        .chart-grid {
            display: grid;
            gap: 30px;
            text-align: center;

            > div {
                margin-top: 40px;

                > svg {
                    position: relative;
                    margin: auto;
                    left: -3vw;

                    > rect {
                        fill-opacity: 0;
                    }
                }
            }

            .chart-data {
                text { display: none ;}
            }

            svg text {
                font-size: 14px;
            }
        }
    }

    .is-significant {
        font-weight: bold;
    }

    .datatable-container {
        z-index: 10;
        position: relative;

        &:before {
            content: "";
            display: block;
            height: $gbl-padding;
        }

        h2 {
            margin: 0;
            color: rgb(255, 255, 255);
            font-size: 1.4rem;
            font-family: sans-serif;
            padding: 0.5em $gbl-padding;
            background-color: yellow;
            cursor: pointer;
            position: relative;

            span {
                position: absolute;
                right: $gbl-padding;
                font-size: 24px;
                top: 10px;
            }
        }

        .datatable-body {
            padding: $gbl-padding;

            p {
                margin-bottom: $gbl-padding;
            }

            ol {
                margin-left: $gbl-padding;

                li {
                    margin-bottom: $gbl-padding;
                }
            }

            #main-data-table {
                border-collapse: collapse;

                caption {
                    color: black;
                    text-align: left;
                    margin-bottom: 1em;
                }

                tr {
                    &.state-header {
                        th {
                            color: #000 !important;
                        }
                    }

                    th {
                        border: 1px solid #dee2e6;
                        padding: .3rem;
                        text-align: left;
                        color: white;
                        cursor: pointer;
                    }

                    td {
                        border: 1px solid #dee2e6;
                        padding: .3rem;

                        .datatable-hex-container {
                            display: flex;
                            justify-items: flex-start;

                            .datatable-hex {
                                width: 18px;
                                margin-right: 5px;
                            }
                        }
                    }

                    th:nth-child(1),
                    td:nth-child(1) {
                        width: 30%;
                    }

                    th:nth-child(2),
                    td:nth-child(2) {
                        width: 20%;
                    }

                    th:nth-child(3),
                    td:nth-child(3) {
                        width: 40%;
                    }

                    th:nth-child(4),
                    td:nth-child(4) {
                        width: 10%;
                    }
                }
            }
        }
    }

    .footnotes {
        padding: $gbl-padding 0;

        p {
            font-size: .85rem;
            margin-bottom: $gbl-padding;
        }
    }

    .comparison-section {

        @include r($lg) {
            margin: 25px 300px 0 0;
        }

        .bar-chart-container {
            margin-bottom: 30px;

            .bar-chart {
                min-height: 250px;
                max-width: 100%;

                .bar-chart-xaxis-label {
                    font-size: 1.5em;
                }

                svg text {
                    font-size: 20px;
                }
            }


        }
    }

    .toggle-wrap {
        cursor: pointer;
    }

    .toggle-container {
        position: relative;
        display: inline-block;
        width: 2em;
        height: 1em;
        margin: 2em .5em;
        top: 2px;

        .toggle-background {
            display: inline-block;
            background-color: gray;
            width: 100%;
            height: 100%;
            border-radius: .5em;
        }

        .toggle-indicator {
            position: absolute;
            top: 1px;
            left: 0;
            width: 1em;
            height: 1em;
            border-radius: .5em;
            background-color: white;
            border: 1px solid gray;
            transition: transform .25s ease-in-out;

            &.age {
                transform: translate(1em);
            }
        }
    }
}

.p-fix-bottom {
    transition: bottom .4s ease-in-out;
    bottom: -100px;
}

.show-sharing {
    .p-fix-bottom {
        bottom: 0 !important;
    }

    #closeShare {
        bottom: 0 !important;
    }
}

