@import 'scss/reset';
@import 'scss/variables';
@import 'scss/mixins';

#non-fatal-container {
    font-family: sans-serif;
    color: #333;
    .cdc-map-inner-container .single-geo {
        stroke: #fff !important;
        stroke-width: 3px;
    }
    
    g.geo-group {
        transition: .3s all;
    }
    
    .map-container {
        display: flex;
    }

    .callouts {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        > div {
            border: 1px solid rgba(0,0,0,.125);
            border-left: 5px solid #B890BB;
            border-radius: .25rem;
            min-height: 100px;
            padding: .5em;
            width: 32.5%;
            display: flex;
            align-items: center;
            svg {
                flex-shrink: 0;
            }
            span.callout {
                font-size: 2.5em;
                font-weight: 500;
                color: #712177;
                padding: 0 .5em;
                font-family: "Merriweather", serif;
            }
            p {
                font-size: .9em;
            }
        }
    }

    .time-select {
        margin-bottom: 1em;
        > ul {
            font-size: 1.1em;
            padding: 0 0 .5em 0;
            max-height: 175px;
            overflow-y: scroll;
        }
        .legend-title {
            margin-bottom: 0;
        }
        li {
            font-size: .8em;
            padding: .6em .5em;
            line-height: 1em;
            border-radius: .3rem;
            + li {
                margin-top: .2em;
            }
            &.active {
                background-color: #F7F2F7;
                color: #712177;
            }
            &:not(.year) {
                &:hover {
                    color: #712177;
                }
            }
            font-weight: 500;
            cursor: pointer;
            margin: 0;
        }
    }
    
    aside {
        align-self: flex-end;
        width: 30%;
        .legend-title {
            background-color: #606060;
            color: #fff;
            font-size: 1em;
            margin-bottom: 1em;
            padding: .3em .5em;
        }
        ul.legend {
            margin-bottom: 2em;
            li {
                display: flex;
                text-transform: uppercase;
                align-items: center;
                font-size: .8em;
                font-weight: 600;
                + li {
                    margin-top: .5em;
                }
                svg {
                    max-width: 1.4em;
                    margin-right: .5em;
                }
            }
        }
        p {
            font-size: .8em;
            font-style: italic;
        }
    }

    .sub-drawer {
        border: 1px solid rgba(0,0,0,.125);
        background-color: #FFF;
        margin-top: 2.5em;
        padding: 1em .5em;
        border-radius: .25rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        .state-info {
            width: 30%;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                font-size: 1.7em;
                margin-bottom: .1em;
            }
            svg {
                margin: 0 auto;
                position: absolute;
                z-index: 0;
                max-width: 150px;
                left: 50%;
                top: 50%;
                margin-top: -80px;
                margin-left: -75px;
            }
        }
        .bar-chart {
            width: 55%;
            min-height: 200px;
        }
    }
}